{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
      </div>
    </div>
  </div>

  <hr> -->


      
  
  
  <div class="container">
  
  <div class="row g-5">
      <div class="col-md-8">
        <h2 class="pb-4 mb-4 border-bottom about-heading">
          From the Firehose
        </h2>
  
        <article class="blog-post">
          <h3 class="about-heading">Read a Popular Article</h3>
          <br>
  
          <div class="post-preview">
            <a href="#">
              <h2 class="about-title post-title">
                For a More Creative Brain Follow These 5 Steps
              </h2>
              <h3 class="about-subtitle post-subtitle">
                The 5 Stages of the Creative Process
              </h3>
            </a>
            <p class="post-meta">Posted by
  
              <a href="#">OsimFavour</a>
              on March 2, 2023
            
            </p>
          </div>
  
          <hr class="hr-inner">
          <div class="post-preview">
            <a href="#">
              <h2 class="about-title post-title">
                The Ultimate Productivity Hack is Saying No
              </h2>
              <h3 class="about-subtitle post-subtitle">
                How to Say No
              </h3>
            </a>
            <p class="post-meta">Posted by
  
              <a href="#">OsimFavour</a>
              on March 3, 2023
            
            </p>
          </div>
          <hr>
          <h2 class="mt-5 about-heading">Best Stories ever written!</h2>
          <br>
  
          <div class="post-preview">
            <a href="#">
              <h2 class="about-title post-title">
                The Matter Of Confidence
              </h2>
              <h3 class="about-subtitle post-subtitle">
                How to Build Confidence
              </h3>
            </a>
            <p class="post-meta">Posted by
  
              <a href="#">OsimFavour</a>
              on March 3, 2023
            
            </p>
          </div>
          <hr class="hr-inner">
  
          <div class="post-preview">
            <a href="#">
              <h2 class="about-title">
                The Matter Of Confidence
              </h2>
              <h3 class="about-subtitle post-subtitle">
                How to Build Confidence
              </h3>
            </a>
            <p class="post-meta">Posted by
  
              <a href="#">OsimFavour</a>
              on March 3, 2023
            
            </p>
          </div>
          <hr class="hr-inner">
  
          <div class="post-preview">
            <a href="#">
              <h2 class="about-title post-title">
                Basketball & Best Practices
              </h2>
              <h3 class="about-subtitle post-subtitle">
                Examples of Basketball Perfect Practices
              </h3>
            </a>
            <p class="post-meta">Posted by
  
              <a href="#">OsimFavour</a>
              on March 3, 2023
            
            </p>
          </div>
  
          
       
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic about-heading">About</h4>
            <p class="mb-0">
              Customize this section to tell your visitors a little bit about your publication, writers, 
              content, or something else entirely. Totally up to you.
          </p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic about-heading">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2021</a></li>
              <li><a href="#">February 2021</a></li>
              <li><a href="#">January 2021</a></li>
              <li><a href="#">December 2020</a></li>
              <li><a href="#">November 2020</a></li>
              <li><a href="#">October 2020</a></li>
              <li><a href="#">September 2020</a></li>
              <li><a href="#">August 2020</a></li>
              <li><a href="#">July 2020</a></li>
              <li><a href="#">June 2020</a></li>
              <li><a href="#">May 2020</a></li>
              <li><a href="#">April 2020</a></li>
            </ol>
          </div>
  
        </div>
      </div>
    </div>
  
  </div>
  
  
  
      
    </body>
  </html>
  

  {% include "footer.html" %}