{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/sign-in.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="login-heading page-heading">
            <h1 class="cursive-logo">pathfinder.com</h1>
            <span class="subheading">Discover, Cultivate & Deploy purposefully!</span>
          </div>
        </div>

        <div class="login-form col-md-4 mt-5">
          <div class="login-card card card-body form-signin w-100">
            <form action="">
              <h1 class="h3 mb-4 fw-normal">Create Your Account!</h1>
              <div class="form-floating mb-2 w-100">
                <input type="username" class="form-control" id="floatingInput" placeholder="Username">
              </div>
              <div class="form-floating mb-2 w-100">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email address">
              </div>
              <div class="form-floating mb-2 w-100">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              </div>
              <div class="form-floating mb-4 w-100">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
              </div>
              <div>
                <button class="w-100 button btn-lg btn-primary mb-2" type="submit"><div class="sign-in">Sign Up</div></button>
            </div>
            <div class="w-100 mb-2">
              <button type="submit" class="google w-100">
                  <img class="google-img" src="{{ url_for('static', filename='img/google-button2.png')}}" alt="google button">
              </button>
            </div>
          <hr>
          <div>
              <small class="text-muted">
                Already Have An Account?  <a class="ml-2" href="#">Sign In Here</a>
              </small>
          </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 

  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       
       {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
    </div>
  </div> -->

{% include "footer.html" %}
{% endblock %}

</header>