{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/image-logo.png')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <!-- <h1 class="cursive-logo">pathfinder.com</h1>
            <span class="subheading" style="font-style: italic;">Find Purpose, Principle and Power.</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row g-5">
      <div class="col-md-8">
        {% for post in all_posts.items %}
          <div class="card mb-3 card-body" style="border-radius: 1rem;">
            <div class="media">
              <img class="align-self-start mr-3 rounded-3" src="{{post.img_url}}" alt="Generic placeholder image">
              <!-- <img class="align-self-start mr-3 rounded-3" style="width: 64;" src="https://images.unsplash.com/photo-1483232539664-d89822fb5d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvdG8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Generic placeholder image"> -->
                <div class="post-preview">
                  <a href="{{ url_for('show_post', post_id=post.id) }}">
                    <h2 class="post-title">
                      {{post.title}}
                    </h2>
                    <h3 class="post-subtitle">
                      {{post.subtitle}}
                    </h3>
                  </a>
                  <p class="post-meta">Posted by

                    <!-- Changed from post.author as post.author is now a User object. -->
                    <a href="#">{{post.author.name}}</a>
                    on {{post.date.strftime("%B %d, %Y")}}
                  
                    <!-- If user id is 1 then they can see the delete button -->
                    {% if current_user.id == 1: %}
                      <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
                    {% endif %}

                  </p>
                </div>
            </div>
          </div>
        <hr>
        {% endfor %}

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                </p>
            </div>
        </div>


        <!-- Bootstrap Pagination -->
        <div aria-label="Page navigation" style="color:#FAF9F6;">
          <ul class="pagination">
            <li class="page-item  {% if not all_posts.has_prev %} disabled {% endif %}">
              <a class="page-link page-btn" href="./?page={{ all_posts.prev_num }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% for page in all_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
              {% if page %}
                <li class="page-item {% if page == all_posts.page %} active {% endif %}">
                  <a class="page-link page-btn" href="./?page={{ page }}">{{ page }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link page-btn" href="">...</a>
                </li>
              {% endif %}
            {% endfor %}
            <li class="page-item {% if not all_posts.has_next %} disabled {% endif %}">
              <a class="page-link page-btn" href="./?page={{ all_posts.next_num }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>


        <!-- Create New Post -->
        <!-- If user id is 1 then they can see the Create New Post button -->
        {% if current_user.id == 1: %}
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{ url_for('add_new_post') }}">Create New Post</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}