{% extends "bootstrap/base.html" %}

{% block content %}
{% include "header.html" %}


<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Search Results for:</h2>
            <span class="subheading">{{ searched }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

    <!-- <br>
    <br>
    <h2 style="margin-left: 25px; margin-top: 15px;">Search Results for:</h2>
    <p style="font-style: italic; margin-left: 25px;">{{ searched }}</p>
    <br> -->

    <!-- {% for post in posts %}
        {% if post: %}
            <a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a><br>
        {% elif searched not in posts %} -->
        <!-- This code is not working -->
            <!-- <h3>Nothing Found</h3>
            <p>
                Sorry, but nothing matched your searched criteria.
                Please try again with some different keywords
            </p>
        {% endif %}
    {% endfor %} -->


    <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date.strftime("%B %d, %Y")}}
        </p>
    </div>
    <hr>
        {% endfor %}

{% include "footer.html" %}
{% endblock %}